@use 'ui/button';
@use 'ui/intput';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}
body {
  font-family: "IBM Plex Mono", monospace;
  background: #FFFFFF;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 768px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}