.btn {
  cursor: pointer;
  display: inline-flex;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 100%;
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: transparent;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  &--primary {
      background-color: rgba(59, 130, 246, 1);
      color: rgba(255, 255, 255, 1);
  }
  &--secondary {
    background-color: #ffffff;
    color: #374151;
    border: 1px solid #d1d5db;
  }
  &--delete {
    background-color: #dc2626;
    color: #ffffff;
  }
}