.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  border-width: 1px;
  border-color: rgba(219, 234, 254, 1);
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 1);
  padding: 1rem;
  &-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1;
  }
  &-item {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: inherit;
    &--completed {
      text-decoration: line-through;
    }
  }
  &-action {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-grow: 0;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  border-width: 1px;
  border-color: rgba(219, 234, 254, 1);
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 1);
  padding: 1rem;
  &-todo {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    .btn {
      width: max-content;
    }
  }
}